.pdown {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.active {
   background-color: rgba(85, 81, 81, 0.753) !important;
}

.my-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.profile {
    height: 4rem;
} 

.proifle-post-summary{
    margin-left: 20px;
}

.my-post{
    width: 100%;
    margin-left: 20px;
}

.my-profile-fixed {
    position: relative;
    top: 0;
    
}

.page-login {
    height: 82vh;
    background-color: #F5F5F5;
    width: 100%;
}



.form-signin {
    width: 100%;
    max-width: 400px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */

}

.form-control {
    height: 4rem!important;

}
.page-register, my-flash{
    /* height: 100vh; */
    background-color: #F5F5F5;
    /* width: 100%; */
}

.my-name-space{
    width: 48%;
}

.space-gender{
    margin-right: 2rem;
}

.my-logo::before{
    margin-top: 6rem !important;
}

a.account-create{
    text-decoration: none;
}

.board{
    height: 400px;
}

.my-panel {
    /* padding-left: 3rem; */
}

.banner{
    height: 200px;
    overflow: hidden;


}

.my-profile-image{
    position: absolute;
    width: 200px;
    height: 200px;
    margin: 5rem 0 ;
    margin-left: 2rem;
}

.user-details{
    margin-top: 6rem ;
    margin-left: 2rem;
}

.likely-people{
    height: 80px;
}


@media (min-width: 992px) {
    .modal-dialog {
      max-width: 50%;
    }
  }

@media (max-width : 574px) {
    .page-login, .page-register {
        padding: 2rem;
    }
    
    .my-name-space {
        width: 100%;
        margin-bottom: 1rem;
    }
}