<input type="button" class="form-control rounded-pill text-start px-4" aria-describedby="passwordHelpBlock"
    value="Start a post" data-bs-target="#exampleModal" data-bs-toggle="modal">


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog w-75">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex profile mb-5">
                    <img src="https://randomuser.me/api/portraits/women/12.jpg"
                        class="mb-3 img-fluid profile rounded-circle">

                    <div class="d-flex flex-column proifle-post-summary">
                        <h4>John Doe</h4>
                    </div>
                </div>

                <form action="">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                            style="max-height: 350px; min-height: 200px;"></textarea>
                        <label for="floatingTextarea2">Your post here.</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Post</button>
            </div>
        </div>
    </div>
</div>