{% extends 'base.html' %}
{% import 'components/render_form.html' as f with context %}


{% block content %}
<div id="validationServerUsernameFeedback" class="invalid-feedback">
    Please choose a username.
</div>

<div class="page-register d-flex flex-column justify-content-center align-items-center">
    <form class="form-signin" method="post" action="{{url_for('auth.register')}}">
        {{ form.hidden_tag() }}
        <div class="d-flex justify-content-center">
            <img class="my-logo mb-4 img-fluid" src="https://img.icons8.com/ios/50/000000/weixing.png" alt=""
                width="100" height="50">
        </div>
        <!-- <img src="https://img.icons8.com/ios/50/000000/weixing.png" mx-2 /> -->
        <h1 class="h3 mb-1 fw-normal text-center">Create a new account</h1>
        <h6 class="text-center mb-3">It's fast and easy</h6>

        <div class="d-block d-sm-flex  justify-content-between g-2 mb-2">
            <div class="my-name-space">
                {{ f.render_form_field(form.surname) }}

            </div>

            <div class="my-name-space">
                {{ f.render_form_field(form.name) }}

            </div>
        </div>

        <div class="form-floating mb-3">
            {{ f.render_form_field(form.email) }}
        </div>
        <div class="form-floating mb-3">
            {{ f.render_form_field(form.password) }}
        </div>
        <div class="form-floating mb-3">
            {{ f.render_form_field(form.confirm_password) }}
        </div>

        <div class="mb-2">
            <span class="space-gender">Gender</span>
            {{ f.render_form_field(form.gender) }}
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>


        <hr />

        <div class="d-flex justify-content-center">
            <a class="w-80 " href="{{url_for('auth.login')}}" type="submit">Already have an account?</a>
        </div>
        <p class="mt-2 mb-3 text-muted text-center">&copy; 2017</p>
    </form>
</div>


{% endblock %}

<ul id="gender">
    <li><input id="gender-0" name="gender" type="radio" value="male"> <label for="gender-0">male</label></li>
    <li><input id="gender-1" name="gender" type="radio" value="female"> <label for="gender-1">female</label></li>
</ul>