<div class="card mb-2">
    <div class="card-body">
        <!-- post card summary -->

        <div class="d-flex profile">
            <a href="{{url_for('user.profile', username=post.user.username)}}" class="text-secondary">
                <img src="{{post.user.create_avatar_image(s=100)}}" alt=""
                    class="mb-3 img-fluid profile rounded-circle">
            </a>

            <a href="{{url_for('user.profile', username=post.user.username)}}"
                class="text-secondary text-decoration-none">
                <div class="d-flex flex-column proifle-post-summary">
                    <h4>{{post.user.first_name}} {{post.user.surname}}</h4>
                    <p class="card-text text-start">{{post.user.job_title}}</p>
                </div>
                <small class="proifle-post-summary">{{moment(post.date_posted).fromNow()}}</small>
            </a>
        </div>
        <!-- break line -->
        <hr />
        {{post.content}}

        <br>

        <div class="my-3">
            {% if not request.endpoint == 'user.post' %}
            <a href="{{url_for('user.post', id=post.id)}}" class="my-2">Read more</a>
            {% elif current_user == post.user and current_user.can(Permission.WRITE_ARTICLES) %}
            <a href="{{url_for('user.edit_post', id=post.id)}}" class="btn btn-primary">Edit post</a>
            {% elif current_user.is_admin() %}
            <a href="{{url_for('user.edit_post', id=post.id)}}" class="btn btn-secondary">Admin edit post</a>
            {% endif %}
        </div>


        <div class="d-flex w-25">
            {% if not request.endpoint == 'user.post' %}
            {% if current_user == post.user and current_user.can(Permission.WRITE_ARTICLES) %}
            <a href="{{url_for('user.edit_post', id=post.id)}}" class="btn btn-primary">Edit post</a>
            {% endif %}
            {% if current_user.is_admin() %}
            <a href="{{url_for('user.edit_post', id=post.id)}}" class="btn btn-secondary">Admin edit post</a>
            {% endif %}
            {% endif %}
        </div>

        <hr />
        <div class="d-flex justify-content-between">
            <h6>
                <i class="fas fa-thumbs-up h5 text-muted">
                    <span class="mx-2 h5 text-muted">Like</span>
                </i>
            </h6>
            <h6>
                <i class="far fa-comment">
                    <span class="mx-2 h5 text-muted">Comment</span>
                </i>
            </h6>
            <h6>
                <i class="far fa-share">
                    <span class="mx-2 h5 text-muted">Share</span>
                </i>
            </h6>
            <h6>
                <i class="far fa-paper-plane">
                    <span class="mx-2 h5 text-muted">Send</span>
                </i>
            </h6>
        </div>
    </div>
</div>