<div class="card mb-2">
    <div class="card-body">
        <!-- post card summary -->

        <div class="d-flex profile">
            <img src="{{current_user.create_avatar_image(s=100)}}" alt="" class="mb-3 img-fluid profile rounded-circle">

            <div class="d-flex flex-column proifle-post-summary">
                <h4>John Doe</h4>
                <p class="card-text text-center">Full stack web engineer (Python | Javascirpt | React |
                    Microservices) </p>
            </div>
        </div>
        <!-- break line -->
        <hr />
        <h3>Lorem ipsum dolor sit amet consectetur.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dicta vero quis asperiores
            exercitationem illo iste ab perspiciatis sunt qui!</p>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, quidem!</p>
        <a href="#" class="">Read more</a>

        <hr />
        <div class="d-flex justify-content-between">
            <h6>
                <i class="fas fa-thumbs-up h5 text-muted">
                    <span class="mx-2 h5 text-muted">Like</span>
                </i>
            </h6>
            <h6>
                <i class="far fa-comment">
                    <span class="mx-2 h5 text-muted">Comment</span>
                </i>
            </h6>
            <h6>
                <i class="far fa-share">
                    <span class="mx-2 h5 text-muted">Share</span>
                </i>
            </h6>
            <h6>
                <i class="far fa-paper-plane">
                    <span class="mx-2 h5 text-muted">Send</span>
                </i>
            </h6>
        </div>
    </div>
</div>